section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 1.2rem 2.4rem;
    font: var(--text-span);

    a {
        justify-self: end;
        align-items: center;
        gap: 0.8rem;

        span {
            background-image: url(../assets/arrow-right.svg);
            width: 1.6rem;
            height: 1.6rem;
        }

        &:hover span {
            background-image: url(../assets/arrow-right-hover.svg);
        }
    }
}

#featured {
    grid-area: featured;
    img {
        height: 100%;
        object-fit: cover;
        border-radius: 0.4rem;
    }

    .card {
        border-radius: 0.4rem;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                180deg,
                rgba(2, 6, 23, 0) 0%,
                #020617 100%
            );
        }

        figcaption {
            position: absolute;
            bottom: 0;
            padding: 2.4rem;

            h2 {
                margin-top: 0.8rem;
            }

            &:has(.text-lg) {
                padding: 1.2rem;
            }
        }
    }
}

#weekly {
    grid-area: weekly;
    & > div {
        grid-template-columns: repeat(4, 29.2rem);
    }

    img {
        height: 16rem;
    }

    figure {
        position: relative;
        .content-tag {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        p {
            margin-top: .8rem;
            font-weight: 800;
        }
    }

    #ai {
        grid-area: ai;
        img {
            width: 17.6rem;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        h3 {
            margin-block: .8rem;
        }
    }

    aside {
        grid-area: aside;
    }

    #more {
        margin-top: 3.2rem;

        h3 {
            margin-top: .8rem;
        }
        
        img {
            width: 7.2rem;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
}
